#nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
     padding: 1.8rem 2rem;
}
#nav>.fa-solid{
    display: none;
}
#nav>.links>ul {
    list-style-type: none;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding-right: 10rem;
    font-size: larger;
    color: black;
    text-decoration: none;
}
#nav>.links>ul>li {
    display: inline;
    padding: 1rem;
}

#nav>.links>ul>li>a {
    text-decoration: none;
    color: black;
}

#nav>.links>ul>.bt {
    border-radius: 5.95px;
    Width: 182px;
    Height: 50px;
    background-color: #75BF7A;
    color: white;
}
#parent{
    display: none;
}
#pdf{
   display: flex;
   gap: 2rem;
}
#pdf1>.images3{
 position: relative;
 bottom: 15rem;  
}
.fareed>img{
    display: none;
}
.fareed1>img{
    display: none;
}
.fareed2>img{
    display: none;
}

#palce{
    display: flex;
    gap: 20rem;
    justify-content: center;
    align-items: center;
    background-color: #75BF7A;
    color: white;
    margin: 0 5rem 0 5rem;
    border-radius: 10px;
    height: 166px;
}
#palce>.p-text>p{
    font-size: 25px;
    font-weight: bold;
    /* padding-left: 2rem; */
    /* color: #9E9DA2;/ */
}
#palce >.btn5 >input{
    width: 18rem;
    height: 40px;
    border-radius: 4.39px;
    border: none;
    width: 20rem;
    height: 67px;
    padding-right: 1rem;
}
#palce >.btn5 >button{
  background-color: black;
    color: white;
    height: 67px;
    width: 260px;
    border-radius: 4.39px;
    border: none;
    gap: 20rem;
    
}
.h>h1{
    text-align: center;
    color: #000000; 
    text-transform:uppercase ;
}
.h>h1>span{
    color: #75BF7A;
    text-transform:uppercase ;
}
.par>p{
    /* text-align: center; */
    color: #9E9DA2;
}
.pa>p{
text-align: center;
    color: #9E9DA2;
}

/* .im>img{
    
} */
.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    flex-wrap: wrap;
    font-family: 'Gilroy';
}

.steps-left {
    padding-top: 2rem;
}

.step>h3,
.step2>h3 {
    font-size: 22px;
}

.step>p {
    /* text-align: start; */
    font-size: 20px;
    line-height: 26px;
    color: #9E9DA2;
}

.step2>p {
    font-size: 20px;
    line-height: 26px;
    color: #9E9DA2;
}

.le {
    position: relative;
    top: 5.5rem;
    right: 25px;
    color: #75BF7A;
    font-size: 34.11px;
}

.ri {
    position: relative;
    top: 5.5rem;
    left: 25px;
    color: #75BF7A;
    font-size: 34.11px;
}

.steps {
    flex: 1;
    max-width: 300px;
    padding: 20px;
}

.step {
    margin-bottom: 40px;
    text-align: right;
}



.step2 {
    margin-bottom: 40px;
    text-align: left;
}

.bg-image {
    z-index: 1;
    position: relative;
    left: 9rem;
}

.mobile-image {
    z-index: 2;
    position: relative;
    right: 12rem;
}

.mobile-image img {
    width: 100%;
}
.cen>img{
 padding-left: 42rem;
}
.tere{
    padding-left: 38rem;
    text-transform: capitalize;
}
.tere>h1>span{
    color: #75BF7A;
}
.beni {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 256.79;
    height: 254.82;
    margin: 2rem 15rem 0 8rem;
    background-color: white;
}

.beni-text>h2,
.beni-text>p {
    padding-left: 40px;
}

.beni-text>h2>span {
    color: #75BF7A;
    font-weight: 500;
    font-size: 88px;
}

.beni-text>h2 {
    gap: 20px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-weight: 600;
    font-size: 33.94px;
}

.beni-text>p {
    color: #9E9DA2;
    font-weight: 500;
    font-size: 22px;
}

.beni>img {
    height: 254.82px;
    padding: 20px 10rem 20px;
}

.beni-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 256.79;
    height: 254.82;
    margin: 2rem 8rem 0 15rem;
    background-color: white;
}

.beni-2>.beni-text {
    padding-right: 10rem;
}

.beni-2>img {
    height: 254.82px;
    padding: 20px 0 20px 10rem;
}
.end {
    background-color: white;
    margin-top: 15rem;
}

.foot-text {
    padding: 5rem 5rem 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
    color: #ECECEC;
}

.contact {
    /* gap: 2rem; */
    display: flex;
    flex-direction: column;
}

.contact>img {
    position: relative;
    top: 10rem;
    width: 131px;
    height: 37.12px;
}

.contact>h3 {
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    line-height: 50%;
}

.contact>p {
    color: #8B8BA5;
    font-weight: 400;
    font-size: 18px;
    line-height: 50%;
}

.foot-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.foot-btn>button {
    border-radius: 3.43px;
    padding: 15px 20px 15px 20px;
    background-color: #000000;
    border: none;
    gap: 2rem;
}

.foot-btn>button>a {
    text-decoration: none;
    font-weight: 800;
    font-size: 16.89px;
    line-height: 0px;
    letter-spacing: 0%;
    color: white;
}
footer{
    padding-top: 2rem;
    padding-bottom: 10rem;
    background-color: white;
}
footer>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #75BF7A;
}
@media (max-width:320px){
    #nav>.links{
         display: none;
    }
}
@media (max-width:320px){
    #nav>.logo>img{
        position: relative;
        padding-right: 13rem;
    }
}
@media (max-width:320px){
#nav>.fa-solid{
    display: block;
     padding-top: 1.5rem;
     position: relative;
     right: 9rem;
}
}

@media (max-width:320px){
   #pdf>#pdf1>.images3{
    display: none;
   } 
}
/* @media(max-width:320px){
    .fareed>img{
         display: block;
    }
    } */

@media(max-width:320px){
    .ha>h1{
        position: relative;
        padding-top: 27rem;
    }
}
@media(max-width:320px){
    .fareed>img{
        display: block;
        position: relative;
        bottom: 50rem;
        z-index: 1;
    }
}
@media(max-width:320px){
    .fareed1>img{
         display: block;
         z-index: 2;
    position: relative;
    bottom: 60.4rem;
    }
}
@media(max-width:320px){
    .fareed2>img{
        display: block;
        position: relative;
     bottom: 60rem;
    }
}
@media(max-width:320px){
        .ha>h1{
            display: none;
        }  
 }
@media(max-width:320px){
        .par>p{
            display: none;
        }
}

@media (max-width:320px){
    #pdf>.images2{
    /* width: 2rem;
    height: auto; */
    }
}



    @media(max-width:320px){
        .ha>h1{display: block;
          position: relative;
         bottom: 1rem;
         text-transform: capitalize;
         text-align: center;
          /* justify-content: center; */
        }
    }
    @media(max-width:320px){
        .par>p{
            display: block;
            position: relative;
            bottom: 1rem;
           text-align: center;
        }
    }
  @media(max-width:320px){
    #pdf{
        display: none;
    }
  }
  @media(max-width:320px){
    #pdf{
        display: block;
        position: relative;
        bottom: 1rem;
        padding-left: 1.5rem;
    }
  }
 @media(max-width:320px){
    #palce>.p-text{
        padding-left: 3rem;
    }
 }
 @media(max-width:320px) {
    #palce>.p-text>p{
        text-align: center;
    }
    
 }
    @media(max-width:320px){
        #palce{
               /* flex-direction: column-reverse;
        /* align-items: center; */
        text-align: center;
        position: relative;
        bottom: 8rem; */
    }
        }
    
@media(max-width:320px){
    .h>h1{
     position: relative;
     left: 1.1rem;
     bottom: 4rem;  
}}
@media(max-width:320px){
    .pa>p{
         position: relative;
     left: 1.1rem; 
      bottom: 4rem;  
    }
}
@media(max-width:320px){
    .bg-image{
        position: relative;
    bottom: 58rem;
     position: relative;
     left: 1.5rem;
     /* width: 100px;
        height: 320px; */
    }
}
@media(max-width:320px){
    .mobile-image{
        position: relative;
        bottom: 85rem;
        left:1.1rem;
    }
}
@media(max-width:320px){
   .steps-container>.steps>.step>h3>p{
    position: relative;
    top: 20rem;
    
   }
}
@media(max-width:320px){
   .steps-container>.steps>.step>p{
    position: relative;
    top: 20rem;
   
   }}
@media(max-width:320px){
   .steps-container>.steps>.step>h3{
         position: relative;
    top: 20rem;
    right:4rem;   
   }}
@media(max-width:320px){
    .steps-container>.steps>.step>h3>P{
       position: relative;
       top: 5rem;
    }
}
@media(max-width:320px){
    .steps-container>.steps>.step2>h3{
        position: relative;
        bottom:48rem
         
       /* position:relative;
       left: 2rem; */
    }
}
@media(max-width:320px){
    .steps-container>.steps>.step2>h3{
        position: relative;
        left: 5rem;
    }}
    @media(max-width:320px){
    .steps-container>.steps>.step2>p{
        position: relative;
        bottom:48rem
    }}
     @media(max-width:320px){
        .steps-container>.steps>.step2>p{
            position: relative;
            left: 3rem;
        }

     }
 @media(max-width:320px){
    .tere{
        position: relative;
        right: 30rem;
        bottom: 50rem;
    }
 }  
 @media(max-width:320px){
    .cen>img{
        display: none;
    }
 }
@media(max-width:320px){
    .beni>.beni-text>h2{
        position: relative;
        bottom: 50rem;
        right: 7rem;
    }
}
  @media(max-width:320px){
.beni>.beni-text>P{
    position: relative;
        bottom: 50rem;
        right: 7rem;
}
  }
  @media(max-width:320px){
    .beni>img{
        position: relative;
         bottom: 32rem;
         right: 34rem;
    }
  } 
  @media(max-width:320px){
    .beni-2>.beni-text>h2{
      position: relative;
      left: 14rem;
      top:2rem
    }
  }
  @media(max-width:320px){
    .beni-2>.beni-text>p{
      position: relative;
      left: 14rem;  
    }
  }
  @media(max-width:320px){
    .beni-2>img{
        position: relative;
      left: 32rem; 
      top: 15rem;
    }
  }
    @media(max-width:320px){
        .end>.foot-text>img{
            position: relative;
            right: 4rem;
            bottom: 30rem;
        }
    }
      @media(max-width:320px){
        .end>.foot-text>.contact>h3{
            position: relative;
            right: 17.5rem;
            bottom: 22rem;
        }
      }
     @media(max-width:320px){
        .end>.foot-text>.contact>p{
            position: relative;
              right: 17.5rem;
               bottom: 19rem;
               gap: 2rem;   
        }
     } 
     @media(max-width:320px){
        .end>.foot-text>.foot-btn>button{
            position: relative;
            right: 40rem;
        }
     }