#nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
     padding: 1.8rem 2rem;
}

#nav>.links>ul {
    list-style-type: none;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding-right: 10rem;
    font-size: larger;
    color: black;
    text-decoration: none;
}

#nav>.links>ul>li {
    display: inline;
    padding: 1rem;
}

#nav>.links>ul>li>a {
    text-decoration: none;
    color: black;
}

#nav>.links>ul>.bt {
    border-radius: 5.95px;
    Width: 182px;
    Height: 50px;
    background-color: #75BF7A;
    color: white;
}
#pdf{
   display: flex;
   gap: 2rem;
}
#pdf1>.images3{
 position: relative;
 bottom: 15rem;  
}
#palce{
    display: flex;
    gap: 20rem;
    justify-content: center;
    align-items: center;
    background-color: #75BF7A;
    color: white;
    margin: 0 5rem 0 5rem;
    border-radius: 10px;
    height: 166px;
}
#palce>.p-text>p{
    font-size: 25px;
    font-weight: bold;
    /* padding-left: 2rem; */
    /* color: #9E9DA2;/ */
}
#palce >.btn5 >input{
    width: 18rem;
    height: 40px;
    border-radius: 4.39px;
    border: none;
    width: 20rem;
    height: 67px;
    padding-right: 1rem;
}
#palce >.btn5 >button{
  background-color: black;
    color: white;
    height: 67px;
    width: 260px;
    border-radius: 4.39px;
    border: none;
    gap: 20rem;
    
}
.h>h1{
    text-align: center;
    color: #000000; 
    text-transform:uppercase ;
}
.h>h1>span{
    color: #75BF7A;
    text-transform:uppercase ;
}
.pa>p{
    text-align: center;
    color: #9E9DA2;
}
/* .im>img{
    
} */
.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    flex-wrap: wrap;
    font-family: 'Gilroy';
}

.steps-left {
    padding-top: 2rem;
}

.step>h3,
.step2>h3 {
    font-size: 22px;
}

.step>p {
    /* text-align: start; */
    font-size: 20px;
    line-height: 26px;
    color: #9E9DA2;
}

.step2>p {
    font-size: 20px;
    line-height: 26px;
    color: #9E9DA2;
}

.le {
    position: relative;
    top: 5.5rem;
    right: 25px;
    color: #75BF7A;
    font-size: 34.11px;
}

.ri {
    position: relative;
    top: 5.5rem;
    left: 25px;
    color: #75BF7A;
    font-size: 34.11px;
}

.steps {
    flex: 1;
    max-width: 300px;
    padding: 20px;
}

.step {
    margin-bottom: 40px;
    text-align: right;
}



.step2 {
    margin-bottom: 40px;
    text-align: left;
}

.bg-image {
    z-index: 1;
    position: relative;
    left: 9rem;
}

.mobile-image {
    z-index: 2;
    position: relative;
    right: 12rem;
}

.mobile-image img {
    width: 100%;
}
.cen>img{
 padding-left: 42rem;
}
.tere{
    padding-left: 38rem;
    text-transform: capitalize;
}
.tere>h1>span{
    color: #75BF7A;
}
.beni {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 256.79;
    height: 254.82;
    margin: 2rem 15rem 0 8rem;
    background-color: white;
}

.beni-text>h2,
.beni-text>p {
    padding-left: 40px;
}

.beni-text>h2>span {
    color: #75BF7A;
    font-weight: 500;
    font-size: 88px;
}

.beni-text>h2 {
    gap: 20px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-weight: 600;
    font-size: 33.94px;
}

.beni-text>p {
    color: #9E9DA2;
    font-weight: 500;
    font-size: 22px;
}

.beni>img {
    height: 254.82px;
    padding: 20px 10rem 20px;
}

.beni-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 256.79;
    height: 254.82;
    margin: 2rem 8rem 0 15rem;
    background-color: white;
}

.beni-2>.beni-text {
    padding-right: 10rem;
}

.beni-2>img {
    height: 254.82px;
    padding: 20px 0 20px 10rem;
}
.end {
    background-color: white;
    margin-top: 15rem;
}

.foot-text {
    padding: 5rem 5rem 2rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid;
    color: #ECECEC;
}

.contact {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.contact>img {
    position: relative;
    top: 10rem;
    width: 131px;
    height: 37.12px;
}

.contact>h3 {
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    line-height: 50%;
}

.contact>p {
    color: #8B8BA5;
    font-weight: 400;
    font-size: 18px;
    line-height: 50%;
}

.foot-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.foot-btn>button {
    border-radius: 3.43px;
    padding: 15px 20px 15px 20px;
    background-color: #000000;
    border: none;
    gap: 2rem;
}

.foot-btn>button>a {
    text-decoration: none;
    font-weight: 800;
    font-size: 16.89px;
    line-height: 0px;
    letter-spacing: 0%;
    color: white;
}
footer{
    padding-top: 2rem;
    padding-bottom: 10rem;
    background-color: white;
}
footer>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #75BF7A;
}




